.gameplayercard {
  padding: 1rem 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameplayercard .gameplayercard-player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.gameplayercard .gameplayercard-avatar {
  padding: 0 20px 0 0;
}

.gameplayercard .gameplayercard-score { width: 25%; text-align: right; }
