.gameplayer {
  padding: 1rem 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameplayer-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.gameplayer-user-avatar { padding: 0 20px 0 0; }
.gameplayerscore { width: 25%; text-align: right; }
.gameplayerscore { font-size: 1.5rem; }
.gameplayerscore-total { font-weight: 700; cursor: pointer; }
.gameplayerscore-scores {
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameplayerscore-scores-list { list-style-type: none; }
.gameplayerscore-scores-list li { min-width: 200px; }
.gameplayerscore-scores-list li:last-child { border-top: 1px solid #ccc; font-weight: 700; }
.gameplayerscore-scores-closebtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 20px;
}
