.gameplayercard {
  padding: 1rem 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameplayercard .player { width: 50%; }

.gameplayercard-score { width: 25%; text-align: right; }
