.scorepad {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-scorepad-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 20px;
  color: #fff;
}
.scorepad-inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
.scorepad-numbers {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 75%;
}
.scorepad-numbers .scorepad-btn {
  width: 33.333333%;
}
.scorepad-operations {
  width: 25%;
  display: flex;
  flex-direction: column;
}

/* scorepad buttons */
.scorepad-btn {
  background: #757373;
  border: 1px solid #000;
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 3px;
}
.scorepad-btn.scorepad-btn-0 { width: 100%; }
.scorepad-btn.scorepad-btn-del { background: #929292; }
.scorepad-btn.scorepad-btn-sign-plus.active,
.scorepad-btn.scorepad-btn-sign-minus.active {
  background: #5e6794;
}

.scorepad-btn:hover {
  color: #fff;
  background: #696868;
}
.scorepad-btn:active {
  background: #969595;
}

/* scorepad input */
.scorepad-input[type="text"],
.scorepad-input[type="text"]:disabled {
  border: 1px solid #000;
  color: #000;
  font-size: 2rem;
  padding: 1rem 10px
}
