.newgame-btn {
  width: 100%;
}
.gamelistitem {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.gamelistitem:hover { background: #efefef; }
.gamelistitem .gamelistitem-avatar {
  padding-right: 0;
  padding-left: 0;
  margin-left: -10px;
}
.gamelistitem .gamelistitem-avatar:first-child {
  padding-left: 20px;
  margin-left: 0;
}

@media screen and (min-width: 1025px) {
  .gamelistitem {
    border-radius: 3px;
  }
}
