.games {}
.gamelistitem {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}
.gamelistitem:hover { background: #eff3ff; }
.gamelistitem .gamelistitem-avatar {
  padding-right: 0;
  padding-left: 0;
  margin-left: -10px;
}
.gamelistitem .gamelistitem-avatar:first-child {
  padding-left: 20px;
  margin-left: 0;
}
